@theme {
    --color-crimsonLight-100: hsl(332 100% 99.4%);
    --color-crimsonLight-200: hsl(330 100% 98.4%);
    --color-crimsonLight-300: hsl(331 85.6% 96.6%);
    --color-crimsonLight-400: hsl(331 78.1% 94.2%);
    --color-crimsonLight-500: hsl(332 72.1% 91.1%);
    --color-crimsonLight-600: hsl(333 67.0% 86.7%);
    --color-crimsonLight-700: hsl(335 63.5% 80.4%);
    --color-crimsonLight-800: hsl(336 62.3% 72.9%);
    --color-crimsonLight-900: hsl(336 80.0% 57.8%);
    --color-crimsonLight-1000: hsl(336 73.7% 53.5%);
    --color-crimsonLight-1100: hsl(336 75.0% 47.2%);
    --color-crimsonLight-1200: hsl(340 65.0% 14.5%);

    --color-crimsonLightA-100: hsla(340 100% 51.0% 0.012);
    --color-crimsonLightA-200: hsla(330 100% 51.0% 0.032);
    --color-crimsonLightA-300: hsla(332 99.1% 47.1% 0.063);
    --color-crimsonLightA-400: hsla(331 99.9% 44.3% 0.102);
    --color-crimsonLightA-500: hsla(333 99.9% 42.3% 0.153);
    --color-crimsonLightA-600: hsla(333 99.5% 40.5% 0.224);
    --color-crimsonLightA-700: hsla(335 99.7% 39.1% 0.322);
    --color-crimsonLightA-800: hsla(336 99.5% 38.5% 0.440);
    --color-crimsonLightA-900: hsla(336 99.9% 44.3% 0.761);
    --color-crimsonLightA-1000: hsla(336 100% 42.5% 0.808);
    --color-crimsonLightA-1100: hsla(336 99.8% 40.3% 0.883);
    --color-crimsonLightA-1200: hsla(340 99.0% 10.0% 0.950);

    --color-crimsonDark-100: hsl(335 20.0% 9.6%);
    --color-crimsonDark-200: hsl(335 32.2% 11.6%);
    --color-crimsonDark-300: hsl(335 42.5% 16.5%);
    --color-crimsonDark-400: hsl(335 47.2% 19.3%);
    --color-crimsonDark-500: hsl(335 50.9% 21.8%);
    --color-crimsonDark-600: hsl(335 55.7% 25.3%);
    --color-crimsonDark-700: hsl(336 62.9% 30.8%);
    --color-crimsonDark-800: hsl(336 74.9% 39.0%);
    --color-crimsonDark-900: hsl(336 80.0% 57.8%);
    --color-crimsonDark-1000: hsl(339 84.1% 62.6%);
    --color-crimsonDark-1100: hsl(341 90.0% 67.3%);
    --color-crimsonDark-1200: hsl(332 87.0% 96.0%);

    --color-crimsonDarkA-100: hsla(0 0% 0% 0);
    --color-crimsonDarkA-200: hsla(336 96.8% 53.2% 0.045);
    --color-crimsonDarkA-300: hsla(335 98.7% 59.3% 0.138);
    --color-crimsonDarkA-400: hsla(336 99.1% 59.9% 0.191);
    --color-crimsonDarkA-500: hsla(335 99.4% 59.4% 0.244);
    --color-crimsonDarkA-600: hsla(335 99.4% 59.4% 0.315);
    --color-crimsonDarkA-700: hsla(336 99.5% 57.8% 0.439);
    --color-crimsonDarkA-800: hsla(336 99.9% 55.4% 0.642);
    --color-crimsonDarkA-900: hsla(336 99.9% 62.8% 0.903);
    --color-crimsonDarkA-1000: hsla(339 99.9% 66.3% 0.934);
    --color-crimsonDarkA-1100: hsla(341 99.9% 69.5% 0.965);
    --color-crimsonDarkA-1200: hsla(327 100% 97.1% 0.980);
}